{% if host_static_routes %}
{% for route in host_static_routes %}
{% if route.vrf is defined %}
ip route {{ route.destination }}/{{ route.mask | mask_to_cidr }} {{ route.nh }} vrf {{ route.vrf }} {{ route.metric }}
{% else %}
ip route {{ route.destination }}/{{ route.mask | mask_to_cidr }} {{ route.nh }} {{ route.metric }}
{% endif %}
{% endfor %}
{% endif %}